# Frontend
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/

# Backend
backend/vendor/
backend/var/
backend/.env.local
backend/.env.*.local

# Docker
database_data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Claude Code
CLAUDE.md
.claude/
